/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        login: login {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp A &kp TAB &kp A>
                , <&macro_wait_time 300>
                , <&macro_tap &kp ENTER>
                ;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            bindings = <
    &login  &kp ESC     &none       &none
    &none   &none       &none       &none
    &none   &bt BT_CLR  &sys_reset  &bootloader
    &none   &none       &none       &none
            >;

        };
    };
};